.iteam{
    width: 350px;
}
.iteam p{
    margin: 6px 0px;
}
.iteam-prices{
    display: flex;
    gap: 20px;
}
.iteam-prices-new{
    color: #374151;
    font-size: 18px;
    font-weight: 600;
}
.iteam-prices-old{
    color: #8c8c8c;
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;
}
.iteam:hover{
    transform: scale(1.05);
    transition: 0.6s;
}